html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#e91111, #dfaf14e3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    top: 59px; /* Ajuste conforme necessário */
    left:80%;
    transform: translateX(-50%);
}

.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    text-align: center;
    position: relative; /* Adicionado */
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.login-button, .back-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;

    border: none;
    cursor: pointer;
}

.login-button:hover, .back-button:hover {
    background: #eeeeee00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #b30b0b,
                0 0 25px #f45b03,
                0 0 50px #f4b403,
                0 0 100px #f4f003d0;
}
